
 <%= form_for Post.new, :remote => true do |f| %>
   <div class="form-group">
     <%= f.text_area :content, :class => "form-control" %>
   </div>
   <div class="form-group">
     <%= f.submit :class => "btn btn-primary" %>
   </div>
 <% end %>

<div id="post-list">
 <% @posts.each do |post| %>
  <%= render :partial => "post", :locals => { :post => post } %>
 <% end %>

</div>

<script>

// 删除post事件

// 绑定click事件到所有class 是delete-post 的元素上（所有的删除按钮）
  // $(".delete-post").click(function(evt){
  // 变更成对所有的post生效，包括新增,从可靠的上一层元素点击
  $("#post-list").on('click', ".delete-post", function(evt){
    // evt是浏览器事件物件，evt.preventdefault（）会组织元素的默认模式
    // 超链接a的默认行为是跳到下一页，如果没有这个限制的话，送出ajax后会跳到show page页面
    evt.preventDefault();
    // 下面是拿到超链接的网址，this应该和java的一样，这里表示出发事件的元素，attr可以读取原属性

    var url = $(this).attr("href");
    var that = this;

// 送出ajax
    $.ajax({
      url: url,
      method: 'DELETE',
      // dataType: 'script'  // ——要求服务器回传javascript
      // 要求服务器回传，修改成json格式
      dataType: 'json',
      success: function(data){
        // $("#post-"+data["id"]).remove();
        // 使用jQuery Traversing 走访元素
        $(that).closest(".panel").remove();
      }
    })
  })

  // 无限捲袖功能

// 纪下目前节目上最小的post id
  var current_post_id = <%= @posts.last.id %>;
// 当捲袖动的时候，就触发下面事件
  $(window).scroll(function(){
    // 当捲到最下面的时候
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight){
      // 设置请求地址
      var url = "/posts?max_id=" + current_post_id;
      if (url) {
        $.ajax({
          method: "GET",
          url: url,
          dataType: "script"  // 要求服务器回传js
        })
      } else {
        console.log("data ended")
      }
    }
  })

  // 标记功能

  // 输入框有变化时触发执行
  // $(".toggle-flag").on('change', function(){
  // 变成从上一层可靠元素进行触发
  $("#post-list").on( 'change', ".toggle-flag", function(){
    var url = $(this).data("url");
    var that = this;

    $.ajax({
      url: url,
      method: "POST",
      dataType: "json",
      success: function(data){
        if ( data["flag_at"] ){
          // $("#post-flag-" + data["id"]).html(data["flay_at"]);
          // 使用jQuery Traversing 走访元素
          $(that).closest("label").find("span").html(data["flag_at"])
        }else {
          // $("#post-flag-" + data["id"]).html("");
          // 使用jQuery Traversing 走访元素
          $(that).closest("label").find("span").html("")
        }
      }
    });
  });

</script>
